* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  padding-top: var(--navbar-height);
  background-color: #f2f4f7 !important;
}

ul {
  list-style: none;
}

strong {
  font-weight: 600;
}

span,
li,
h3,
i,
a {
  font: 14px / 18px Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #000;
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.w-100,
.col > img,
.card img,
section,
.flashsale > b,
.item-news > img,
.fs-contain,
.item-gift,
.fs-contain i,
.item-compare {
  width: 100%;
}

.w-80,
.big-banner a img {
  width: 80%;
  margin: auto;
}

.bg-white,
.product-list,
.col,
.tgdd-arrow {
  background: #fff;
}

.flex,
.products-tabs > li,
.col,
.fs-contain,
.fs-contain i,
.rating_Compare,
.product-list ul,
.search-suggest li {
  display: flex;
  justify-content: center;
}

.flashsale > b,
.item-compare span,
.rating_Compare > span,
.vote-txt b,
.copyright p {
  font-size: 12px;
}

.border-radius-8,
.big-banner a img {
  border-radius: 8px;
}

.padding-10,
.main-menu li,
.listing-timeline a {
  padding: 10px;
}

.hidden {
  display: none;
}

.footer {
  flex-direction: column;
  align-content: center;
  border-top: 1px solid #e2e2e2;
  margin-top: 35px;
}

.main-container > h3 {
  font-weight: 700;
  font-size: 24px;
  color: #1d2939;
  margin-bottom: 20px;
  line-height: 32px;
}

.navbar {
  flex-wrap: wrap;
  background-color: #ffd400;
  z-index: 1;
  align-content: center;
}

.main-container {
  flex-direction: column;
  padding-top: 20px;
}

.main-container ul.products-tabs {
  position: relative;
  justify-content: flex-start;
  text-align: center;
  overflow-x: auto;
}

.products-tabs::-webkit-scrollbar {
  display: none; /* ẩn scrollbar trên Chrome/Safari */
}

.main-container .products-tabs {
  border-bottom: 1px solid #eaecf0;
  margin: 0;
  padding: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.products-tabs li {
  height: 60px;
  width: calc(100% / 8);
  position: relative;
  border-bottom: 2px solid transparent;
}

.products-tabs {
  align-items: center;
  border-bottom: 1px solid #eaecf0;
  margin: 0;
  padding: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.products-tabs li.active-tab {
  border-color: #f79009 !important;
  background-color: #fff6e3 !important;
}

.products-tabs li a img {
  max-width: 90%;
  max-height: 44px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.products-tabs > li {
  align-items: center;
}

.menu {
  padding-right: 10px;
}

.main-menu {
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-menu li i {
  margin-right: 5px;
}

.main-menu li i img {
  height: 20px;
  width: auto;
  object-fit: cover;
  vertical-align: middle;
}

.main-menu li:hover {
  background-color: #fe9;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.navbar-top {
  position: fixed;
  justify-content: space-between;
  z-index: 99;
  background-color: #ffd600;
}

.navbar-bottom {
  position: relative;
  margin-top: 70px;
  z-index: 98;
}

.button {
  align-items: center;
  gap: 5px;
  background: #ffd400;
  border-radius: 32px;
  transition: 0.2s;
}

.button1 {
  width: 20%;
  background-color: #ffe14c !important;
  padding: 5px 8px 5px 20px !important;
  align-items: center;
  justify-content: start !important;
}

.button > a {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.button > i {
  position: static;
}

.button:hover {
  background-color: #fe9;
}

@media screen and (min-width: 768px) and (max-width: 1286px) {
  .navbar-top .navbar-bottom .big-banner a img .main-container .timeline-title {
    width: 100%;
  }

  .main-menu li {
    width: 20%;
  }
}

@media screen and (max-width: 767px) {
}
.logo,
.logo > i {
  font-weight: bold;
  color: black;
  font-size: 20px;
  margin-right: 10px;
}

.search-box {
  position: relative;
  flex: 1;
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
}

.search-box input {
  border: none;
  border-radius: 32px;
  padding-left: 40px;
}

.menu-item {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none;
  z-index: 10;
  min-width: 300px;
}

.menu-item:hover .dropdown {
  display: block;
}

.dropdown a {
  display: block;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #f0f0f0;
}

/* Banner */
.big-banner {
  margin-top: 10px;
}

.big-banner a img {
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

/* Timeline */
.timeline-title {
  padding: 16px 0 15px;
}

.listing-timeline {
  justify-content: start;
  border-radius: 16px;
  padding: 5px;
  width: 50%;
  background-color: #f2f4f7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.listing-timeline a {
  flex-direction: column;
  text-align: center;
  font-weight: 600;
}

.listing-timeline a.new {
  background-color: #f2f4f7;
  color: #344054;
  border-radius: 0 16px 16px 0;
  min-width: 100px;
}

.clock {
  border-radius: 16px;
  width: 160px;
  padding: 5px;
  flex-direction: column;
}

.clock a > span {
  display: inline-block;
  background-color: #fff;
  color: #fea200;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-weight: 600;
  border-radius: 6px;
  padding: 0;
  min-width: 0;
}

.clock a {
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}

/* Product Listing */
.product-list {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}

.col {
  border: 1px solid #f2f4f7;
  border-radius: 6px;
  margin: 0 5px 10px;
  max-width: calc(100% / 7);
  padding: 0 5px 10px;
  flex-direction: column;
  flex-shrink: 0;
}

.product-slider {
  width: calc(100% - (100% / 7 * 2));
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}

.col > img {
  max-height: 95%;
  height: 163px;
  object-fit: contain;
  margin-bottom: 10px;
  align-self: center;
}

.col > h3 {
  height: 40px;
  margin-bottom: 8px;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.col:hover .lazyloaded {
  transform: translateY(-8px);
  transition: all 300ms ease-in-out;
}

.col:hover h3 {
  color: #09b8f7;
  transition: all 300ms ease-in-out;
}

.card img {
  overflow: hidden;
  border-radius: 8px;
  height: auto;
  height: 200px;
  margin-right: 10px;
}

.ad-slider {
  justify-content: space-between;
}

.price {
  color: #dd2f2c;
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
}

.price-old {
  color: #98a2b3;
  font-size: 14px;
  text-decoration: line-through;
  margin: 0 auto 10px;
}

.percent {
  color: #dd2f2c;
  font-size: 13px;
}

.vote-txt i,
.number-star i {
  color: #ffb700;
}

/* Flash Sale */
.flashsale {
  position: relative;
  height: 32px;
  width: 98%;
  background: #f1f8fe;
  padding: 10px;
  border-radius: 4px;
}

.flashsale > b {
  position: absolute;
  text-align: center;
  color: #2a83e9;
  font-weight: 700;
}

.fs-contain {
  position: relative;
  background-color: #ddd;
  border-radius: 25px;
  margin: 15px 0 11px;
  min-height: 20px;
  justify-content: start;
}

.fs-contain i {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  align-items: center;
  z-index: 5;
}

.fs-contain > img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: auto;
  z-index: 10;
}

.rq_count {
  min-height: 20px;
  padding-left: 21px;
  border-radius: 25px;
  line-height: 20px;
  text-align: center;
  background: linear-gradient(to right, #f1e5d5, #f79009);
  color: #000;
  display: block;
  position: relative;
  overflow: hidden;
}

.box-scroll {
  white-space: normal;
  padding-bottom: 15px;
}

.readmore-btn {
  border-radius: 0 0 8px 8px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  padding-bottom: 64px;
  margin-bottom: 20px;
}

.readmore-btn i {
  color: #2a83e9;
}

/* Common styles for both arrows */
.tgdd-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s, box-shadow 0.3s;
  filter: grayscale(100%);
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  font-size: 24px;
  color: #000;
  opacity: 0.3;
  padding: 10px;
  height: 80px;
  border-radius: 4px 0 0 4px;
  box-shadow: -6px 0 4px rgba(0, 0, 0, 0.05), -4px 0 4px rgba(0, 0, 0, 0.09);
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-prev {
  left: 10px;
}
.custom-next {
  right: 10px;
}

.custom-prev i,
.custom-next i {
  font-size: 50px;
}

.tgdd-prev {
  left: 5px;
}

.tgdd-next {
  right: 5px;
}

.tgdd-arrow:hover {
  background-color: #f0f0f0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  filter: none;
}

/* Arrow icons - use either pseudo elements or inline SVG/icons */
.icon-prev::before {
  content: "‹"; /* Or use icon font or image */
  font-size: 20px;
}

.icon-prev2::before {
  content: "‹"; /* Or use icon font or image */
  font-size: 50px;
}

.icon-next::before {
  content: "›";
  font-size: 20px;
}

.item-compare {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 10px;
  font-size: 14px;
  max-width: 100%;
}
strong.price {
  display: block;
}

strong.price span {
  display: block; /* force label and small to go below */
}

.item-gift {
  margin-bottom: 8px;
  text-align: left;
  display: block;
  color: #1d2939;
  font-size: 14px;
}

.item-compare span {
  background-color: #f2f4f7;
  border: 0;
  color: #667085;
  line-height: 12px;
  margin-right: 5px;
  padding: 4px 5px;
  white-space: nowrap;
  border-radius: 2px;
}

.rating_Compare {
  overflow: hidden;
  margin-top: 0;
  justify-content: flex-start;
}

.rating_Compare > span {
  width: 50%;
  color: #667085;
  white-space: nowrap;
}

.vote-txt b {
  font-weight: normal;
  margin-right: 2px;
  color: #667085;
}

.product-list > img {
  width: calc(100% / 7 * 2);
  height: auto;
}

.banner-box {
  justify-content: space-between;
}
.banner-box > img {
  width: calc(100% / 4 - 10px);
  height: auto;
  border-radius: 8px;
}

.item-section {
  flex-direction: row;
  justify-content: space-between;
}

.item-news {
  width: calc(100% / 4 - 10px);
  height: auto;
  border-radius: 20px;
}

.item-news > img {
  height: 162px;
  border-radius: 20px;
}

.product-list ul {
  flex-wrap: wrap;
}

.product-list ul li {
  display: block;
  width: fit-content;
  background: #f2f4f7;
  border-radius: 16px;
  margin: 10px 8px 0 0;
  padding: 2px 8px;
}

section {
  margin: auto;
}

.footer-top {
  padding: 15px 0 5px;
}

.footer__col {
  width: 24%;
}

.f-listtel__content {
  line-height: 21px;
  margin-top: 10px;
}

.f-listtel__content a {
  color: #2f80ed;
  font-weight: bold;
}

.f-listmenu li a {
  color: #333;
  line-height: 21px;
}

.hidden {
  display: none;
}

.f-listmenu li {
  margin-bottom: 10px;
}

footer .f-listmenu {
  margin-top: 10px;
}

.copyright {
  background-color: #f1f1f1;
  padding: 15px 0;
}

.copyright p {
  color: #666;
  padding: auto;
}

.product-list ul {
  justify-content: start;
}

.logo {
  align-items: center;
}

.search-suggest {
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  display: none;
  border: 1px solid #eee;
  z-index: 1000;
  padding-top: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.search-suggest ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.search-suggest li {
  cursor: pointer;
  justify-content: space-between;
  background-color: #fff8bf;
  border-radius: 8px;
  margin: 10px;
}

.search-suggest li h3 {
  display: block;
  padding: 10px;
  background: #fce400;
  border-radius: 8px;
}

.search-suggest span {
  align-content: center;
  padding: 10px;
}

.viewed {
  font-size: 13px;
  color: #666;
  font-weight: 400;
  padding: 5px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 97;
}

.modals {
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  width: 500px;
  height: 500px;
  z-index: 99;
  position: fixed;
  margin: 0 auto;
}

.box-left {
  width: 65%;
  padding-right: 30px;
}

.slider-for img {
  width: 100%;
  height: 400px;
  max-height: 100%;
  padding-bottom: 10px;
}

.slider-nav img {
  height: 50px !important;
  width: 50px !important;
  margin: 0 5px 0 0;
  padding: 4px !important;
  border-radius: 8px;
  object-fit: cover;
}

.slider-count {
  position: absolute;
  left: 55%;
  padding: 2px 10px;
  background-color: #eaecf0;
  color: #344054;
  bottom: 110px;
  border-radius: 8px;
}

.slider-for img {
  width: 100%;
  object-fit: contain;
}

.policy > h2 {
  color: #101828;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.policy-list {
  flex-wrap: wrap;
  justify-content: start;
  padding: 20px;
}

.policy-list > li {
  width: 50%;
  border-bottom: 1px solid #f1f1f1;
  padding: 12px 0px 12px 0px;
  align-items: center;
  display: flex;
}

.policy-list li p {
  line-height: 20px;
  padding-left: 5px;
}

.policy-list li a,
.text-specifi a,
.text-detail a {
  color: #2a83e9;
}

.text-detail > h3 > * {
  font-size: 20px;
}

.tabs {
  display: block;
  padding: 20px 0 15px 0;
  white-space: nowrap;
  text-align: center;
}

.tab-link {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
  color: #3a3a3a;
  padding: 10px 0;
  margin: 0 15px 0 0;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  width: 245px;
  font-size: 16px;
}

.tab-link.current {
  border: 1px solid #bbddfd;
  background-color: #f1f8fe;
  color: #2a83e9;
}

.img-main {
  width: 100%;
  height: auto; /* hoặc auto, hoặc cụ thể tùy bạn muốn ảnh cao bao nhiêu */
  overflow: hidden;
  position: relative;
}

.img-main img {
  max-width: 100%;
  object-fit: contain;
}

.box-specifi {
  margin: 0 0 10px;
}

.box-specifi > a {
  display: block;
  background: #f2f4f7;
  padding: 15px 10px;
  color: #000;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  position: relative;
}

.box-specifi .text-specifi.active {
  display: block;
}

.box-specifi .text-specifi {
  display: none;
  overflow: hidden;
}

.text-specifi li {
  display: flex;
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid #eaecf0;
}

.text-specifi aside {
  width: calc(100% / 3);
}

.box-specifi > a.active:after {
  transform: rotate(-135deg);
  top: 48%;
}
.box-specifi > a:after {
  content: "";
  width: 8px;
  height: 8px;
  border-right: 2px solid #101828;
  border-bottom: 2px solid #101828;
  transform: rotate(45deg);
  position: absolute;
  right: 16px;
  top: 38%;
}

.text-detail {
  position: relative;
}

.text-detail img,
.text-review img {
  display: block;
  width: calc(100% + 20px) !important;
  margin-left: -10px;
  height: auto !important;
}

.text-detail > h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  margin: 20px 0 15px 0;
}

.text-detail > * {
  display: block;
  font-size: 15px;
  line-height: 1.5;
  color: #101010;
  margin-bottom: 15px;
}

.description.short > .text-detail {
  max-height: 250px;
  overflow: hidden;
}

.text-detail.expand {
  max-height: none;
  transition: max-height 0.3s ease;
}

.bg-article {
  width: 100%;
  display: flex;
  background: transparent;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.btn-detail span {
  color: #2f80bd;
  font-size: 15px;
}

.rating-container > h2 {
  display: block;
  padding: 20px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  text-align: left;
}

.rating-container {
  width: 90%;
}

.rate-list {
  flex-grow: 1;
  margin-top: 0;
  width: 30%;
}

.rate-list li {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.rate-list .number-star {
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  width: 35px;
}

.rate-list .timeline-star {
  background-color: #eee;
  border-radius: 20px;
  height: 6px;
  position: relative;
  width: 100%;
}

.rate-list .timing {
  background-color: #64b2fa;
  border-radius: 20px;
  left: 0;
  height: 6px;
  position: absolute;
  top: 0;
}

.rate-list .number-percent {
  color: #323232;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  padding-left: 10px;
  text-align: left;
  width: 35px;
}

.point {
  width: 35%;
  flex-direction: column;
  justify-items: center;
}

.point-average {
  display: flex;
  flex-wrap: wrap;
}

.point-average-score {
  color: #101828;
  font-size: 36px;
  font-weight: 600;
}

.point-average-total {
  color: #98a2b3;
  font-size: 14px;
}

.point-satisfied-container {
  position: relative;
  display: flex;
  align-items: center;
}

.number-star i {
  padding-left: 5px;
}

.box-flex {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  gap: 2%;
  padding-bottom: 25px;
}

.breadcrumb {
  background-color: transparent;
  line-height: 1;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  display: block;
  overflow: hidden;
  margin: 0;
}

.breadcrumb li {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  padding-right: 0;
  line-height: unset;
  padding-right: 10px;
  height: 20px;
  line-height: 20px;
}

.quantity-sale {
  color: #98a2b3;
  font-size: 14px;
  margin-right: 12px;
}

.tab-spec {
  margin-right: 10px;
  font-size: 14px;
}

.box02 > * {
  display: inline-block;
  vertical-align: middle;
}

.detail-rate p {
  color: #98a2b3;
  margin-top: 0;
  font-size: 14px;
}

.product-name {
  justify-content: space-between;
  position: relative;
}

.c-btn-rate {
  background-color: #0071e3 !important;
  border: 1px solid #0071e3 !important;
}

.c-btn-rate {
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  display: block;
  line-height: 17px;
  padding: 14px 10px;
  text-align: center;
  transition: 0.3s;
  width: 49%;
}

.box-right {
  width: 35%;
}

.backtoschool {
  padding: 8px;
  margin-bottom: 10px;
  background-size: 100% 100% !important;
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-image: url(https://cdn.tgdd.vn/2024/05/banner/460x90-920x180.png);
  display: flex !important
;
  align-items: center;
}

.backtoschool > div > b {
  text-transform: uppercase;
  font-size: 16px;
}
.backtoschool > div > * {
  display: inline-block;
  vertical-align: middle;
  color: #000000;
  margin-bottom: 5px;
}

.backtoschool > div > b > b {
  color: #d11c14;
  font-size: 20px;
}
.backtoschool > div > a.hssv_muangay {
  border: 1px solid #ff6b00;
  color: #fff;
  background: #ff6b00;
  width: 80px;
}
.backtoschool > div > a {
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 0;
}

.tragop-dropdown {
  position: relative;
}

.tragop-dropdown > .dropdown-toggle {
  border-radius: 4px;
  background: #288ad6;
  border: none;
  cursor: pointer;
  line-height: 30px;
  position: relative;
  font-size: 13px;
  color: white;
  width: 80px;
  padding-left: 8px;
  margin-bottom: 0 !important ;
}

.banner-detail {
  margin: 0 0 10px 0;
  overflow: hidden;
  display: flex;
}

.banner-detail img {
  display: block;
  max-width: 100%;
  height: auto;
}

.scrolling_inner {
  position: relative;
}

.box03 {
  margin-bottom: 10px;
}

.box03__item {
  border-radius: 32px;
  padding: 6px 12px 6px 8px;
  font-size: 14px;
}

.box03__item.act {
  border-color: #bbddfd;
  color: #2a83e9;
  background-color: #f1f8fe;
}

.box03__item i {
  border: 1px solid #eaecf0;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 1px 1px 0;
}

.box04__txt {
  line-height: 16px;
  margin-bottom: 10px;
}

.box04__txt a {
  color: #2f80ed;
  position: relative;
  padding-right: 20px;
}

.box_saving.v2 {
  border-radius: 8px;
  background: #dd0300;
}

.box_saving {
  margin-bottom: 10px;
  position: relative;
}

.box_saving.v2 .bs_title {
  padding-top: 15px;
  padding-bottom: 16px;
  background: linear-gradient(
    75.08deg,
    #a10300 10.52%,
    #e80400 66.91%,
    #ff000c 104.5%
  );
  position: relative;
}

.box_saving.v2 .bs_title {
  display: flex;
  align-items: center;
  background-color: #e2252d;
  background-image: url(https://cdnv2.tgdd.vn/webmwg/2024/ContentMwg/images/bg-oltk-dt-min.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px 10px 0 0;
}

.box_saving.v2 .bs_title div.bs_price {
  width: 50%;
}

.box_saving.v2 .bs_title > * {
  position: relative;
  z-index: 1;
}

.box_saving.v2 .bs_title div.bs_price > b {
  font-size: 14px;
  font-weight: bold;
}
.box_saving.v2 .bs_title div.bs_price > * {
  margin-bottom: 7px;
}
.box_saving.v2 .bs_title div.bs_price > b {
  display: block;
  font-size: 16px;
  font-weight: normal;
}
.box_saving.v2 .bs_title div.bs_price > * {
  margin-bottom: 7px;
  color: #fff;
}

.box_saving.v2 .bs_title div.bs_price > strong {
  color: #fff200;
  margin-bottom: 7px;
  display: block;
  font-size: 24px;
}

* strong {
  font-weight: 600;
}

.box_saving.v2 .bs_title div.bs_price > em {
  font-style: normal;
  text-decoration-line: line-through;
}

.box_saving.v2 .bs_title div.bs_price > i {
  font-style: normal;
}

.box_saving.v2 .bs_title div.bs_time {
  width: 60%;
  line-height: 1.4;
}

.box_saving.v2 .bs_title div.bs_time {
  width: 50%;
  text-align: right;
}

.box_saving.v2 .bs_title div.bs_time > span {
  margin-bottom: 5px;
  font-size: 18px;
}

.box_saving.v2 .bs_title div.bs_time > * {
  display: inline-block;
  vertical-align: middle;
}

.box_saving.v2 .bs_title div.bs_time .bs_count {
  display: block;
  width: auto;
  padding-bottom: 20px;
}

.box_saving.v2 .bs_title div.bs_time > * {
  display: inline-block;
  vertical-align: middle;
}

.box_saving.v2 .bs_title div.bs_time .bs_count img {
  display: none;
}

.box_saving.v2 .bs_title div.bs_time .bs_count img {
  width: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.box_saving.v2 .bs_title div.bs_time .bs_count span {
  height: 7px;
  overflow: visible;
  margin-top: 3px;
}

.box_saving.v2 .bs_title div.bs_time .bs_count span {
  background: #f1f1f1;
  border-radius: 25px;
  height: 14px;
  position: relative;
  overflow: hidden;
}

.box_saving.v2 .bs_title div.bs_time .bs_count span i {
  background: linear-gradient(90deg, #ffecb3 0%, #ffb200 100%);
  border-radius: 25px;
}

.bs_title div.bs_time .bs_count span i {
  position: absolute;
  left: 0;
  background: linear-gradient(88.98deg, #fcb500 18.95%, #fecb11 106.13%);
  border-radius: 25px 0 0 25px;
  height: 100%;
  z-index: 5;
}

.box_saving.v2 .bs_title div.bs_time .bs_count span b {
  position: absolute;
  right: 0;
  bottom: -20px;
  color: #fff;
  font-size: 18px;
}

.bs_title div.bs_time .bs_count span b {
  font-weight: normal;
  font-size: 10px;
  color: #333;
  text-align: center;
  height: 14px;
  line-height: 15px;
  display: block;
  padding-left: 15px;
  position: relative;
  z-index: 1;
}

.box_saving.v2 .bs_content {
  border-radius: 8px;
  padding-top: 0;
}

.bs_content {
  background-color: #fff;
  margin: 0 5px 5px 5px;
  padding-bottom: 0;
  border-radius: 4px;
}

.box_saving .bs_content {
  border: 1px solid #fde8d5;
  padding: 10px 0;
}

.box_saving.v2 .bs_content .block__promo {
  padding: 0;
  margin: 10px;
  border: 1px solid #eaecf0;
  border-radius: 8px;
}

.box_saving .bs_content .block__promo {
  border: none;
  border-bottom: 1px dashed #f2994a;
  margin-bottom: 10px;
  padding: 7px 7px 10px 7px;
  border-radius: 0;
}

.box_saving.v2 .bs_content .block__promo .pr-top {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px 8px 0 0;
  background-color: #f9fafb;
}

.block__promo .pr-top .pr-txtb {
  color: #101828;
}

.pr-txtb {
  font-weight: bold;
}

.block__promo .pr-top .pr-txt {
  color: #667085;
}

.pr-top .pr-txt {
  color: #666;
  font-size: 12px;
  line-height: 1.4;
  margin-top: 5px;
  font-style: normal;
}

.box_saving.v2 .bs_content .pr-content {
  padding: 0 10px;
}

.box_saving .bs_content .pr-content .pr-item {
  padding: 7px 0 10px 0;
}

.pr-content .pr-item:last-child {
  border: none;
}
.pr-content .pr-item {
  padding: 15px 10px 10px 10px;
}

.pr-content .pr-item .divb.t1 {
  margin-bottom: 7px;
}

.divb .nb {
  background-color: #44a1fa;
}

.divb .nb {
  background-color: #4a90e2;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  line-height: 16px;
  margin-top: 2px;
  text-align: center;
  width: 16px;
  flex: none;
  margin-right: 5px;
}

.pr-content .pr-item p {
  color: #344054;
  line-height: 1.5;
}

.tragop-dropdown .dropdown-menu {
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.2s ease;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 10px;
  background: #fff;
  min-width: 180px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.tragop-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}

.grScoreAndBack .tragop-dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 0px !important;
}
.backtoschool > div > span {
  display: block;
}

.box_saving.v2 .bs_rule.other {
  margin-top: -15px;
  background-color: #fffaeb;
  border-left: 1px solid #eaecf0;
  border-right: 1px solid #eaecf0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 5px;
}

.box_saving.v2 .bs_rule {
  border-bottom: 1px solid #eaecf0;
  padding: 0 0 5px 0;
  margin: 10px;
}

.box_saving.v2 .bs_rule.other ul > li {
  color: #dc6803;
  padding-left: 20px;
}

.box_saving.v2 .bs_rule.other ul > li::before {
  content: "";
  position: absolute;
  z-index: 6;
  border-radius: 50%;
  background-color: #dc6803;
  width: 6px;
  height: 6px;
  margin-top: 5px;
  left: 4px;
}

.onoffdelibox {
  color: #2f80ed;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  line-height: 1;
  margin-top: 5px;
  text-decoration: none;
}

.loyalty__main__ic-tooltip {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #667085;
  color: #667085;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  font-style: normal;
  font-size: 10px;
  cursor: pointer;
}

.block-button {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.btn-buynow {
  flex: 1;
  display: block;
  margin: 10px;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #2a83e9;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.btn-buynow.white {
  background-color: #fff;
  color: #2a83e9;
}

.btn-buynow.white > i {
  width: 100%;
}

.btn-buynow.buy {
  display: flex;
  border: 1px solid #fc7600;
  background-color: #fc7600;
  color: #fff;
  align-items: center;
}

.btn-ins {
  width: 100%;
  margin: 0 10px 10px 10px;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2f80ed;
}

.btn-ins > span {
  display: block;
  width: 100%;
  text-align: center;
  color: #bbddfd;
  font-size: 12px;
  line-height: 14px;
  margin-top: 2px;
}

.callorder a {
  color: #2a83e9;
}

.store {
  color: #2f80ed;
  display: inline-block;
  margin-bottom: 10px;
}

.footer a {
  color: #4a90e2 !important;
}

.category-slider {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.category-slider .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-slider .item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 5px;
}

.category-slider .item p {
  font-size: 14px;
  margin: 0;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  gap: 4px; 
  margin-top: 10px;
  padding: 0;
}
.slick-dots li {
  display: block;
}

.slick-dots .li button:before {
  content: "" !important;
}



.slick-dots li button {
  font-size: 0;
  width: 24px;
  height: 4px;
  background-color: #ccc; 
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
  transition: background 0.3s ease;
  margin-top: 10px;
}


.slick-dots li.slick-active button {
  background-color: #000;
}

.slick-dots li button:before {
  content: "" !important;
}
@media screen and (min-width: 1287px) {
  .hide-big {
    display: none;
  }
}

/* Responsive */
@media screen and (min-width: 768px) and (max-width: 1286px) {
  .main-menu li {
    width: 20%;
  }
  .main-container,
  .navbar-top > div,
  .navbar-bottom,
  .footer-top {
    width: 100% !important;
  }
  .slider-count {
    bottom: 350px;
  }
  .tab-link {
    display: inline;
    padding: 10px;
  }
  .navbar-bottom {
    margin-top: 90px;
  }
  .hide-big {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main-container,
  .navbar-top > div,
  .navbar-bottom,
  .footer-top,
  .box-left,
  .box-right,
  .container2,
  .copyright > section,
  .timeline-title,
  .big-banner a img,
  .product-list > img,
  .product-slider,
  .footer__col,
  .button1 {
    width: 100% !important;
  }
  .main-container {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .box-left,
  .box-right {
    padding: 0 !important;
  }
  .tab-link {
    width: 40%;
    display: inline-block;
    padding: 10px;
  }

  .col {
    max-width: 47% !important;
  }

  .listing-timeline {
    width: 90% !important;
  }

  #clock {
    min-width: 100px;
  }

  .big-banner a img {
    height: auto !important;
    border-radius: 0%;
  }

  .banner-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .banner-box > img {
    width: calc(100% / 2);
    padding: 10px;
  }
  .item-section {
    flex-wrap: wrap;
  }

  .item-news {
    width: 50% !important;
    padding: 10px;
  }

  .footer-top {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
  }

  .products-tabs li {
    min-width: calc(100% / 4) !important;
  }

  .copyright {
    font-size: 10px !important;
    line-height: 18px !important;
    padding: 10px !important;
  }
  .hide-small {
    display: none !important;
  }

  .button {
    white-space: nowrap;
    margin-left: 5px;
  }

  .navbar-top {
    position: relative !important;
    z-index: 0;
  }
}
